#lottieContainerChild {
    width:100vw;
}

#nestBox:hover div span {
    opacity:0;
    transform:translate(0,-7px);
}

#nestBox:hover div h3 {
    opacity:0 !important;
    transform:translate(0,-10px)
}

#nestBox {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    min-width:200px;
	width:1450px;
    max-width:100%;
    transform:translate(-1%,-4px);
    aspect-ratio: 10.3 / 2.3 !important;
    text-align:center;
}

#nestBox * {
    transition:0.35s cubic-bezier(.4,0,.1,1.4);
}

#nestBox h3 {
    font-family:'Cabinet Grotesk', 'CabinetGrotesk-Variable', 'Arial';
    font-size:32px;
    margin:0;
    opacity:1;
    padding: 3% 0 5px;
}

#nestBox span {
    display:inline-block;
    font-size:16px;
    color:#fff1ffcc
}

#showPiece {
    position:absolute;
    opacity:0 !important;
    font-size: 36px !important;
    line-height: 0;
    transform:translate(7px, -62px)
}

#nestBox:hover #showPiece {
    opacity:1 !important;
    transform:translate(7px, -74px)
}