#lottieContainerChild {
    width:100vw;
}

#nestBox:hover div span {
    opacity:0;
    transform:translate(0,-7px);
}

#nestBox:hover div h3 {
    opacity:0 !important;
    transform:translate(0,-10px)
}

#nestBox {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    min-width:200px;
	width:1450px;
    max-width:100%;
    transform:translate(-1%,-4px);
    aspect-ratio: 10.3 / 2.3 !important;
    text-align:center;
}

#nestBox * {
    transition:0.35s cubic-bezier(.4,0,.1,1.4);
}

#nestBox h3 {
    font-family:'Cabinet Grotesk', 'CabinetGrotesk-Variable', 'Arial';
    font-size:32px;
    margin:0;
    opacity:1;
    padding: 3% 0 5px;
}

#nestBox span {
    display:inline-block;
    font-size:16px;
    color:#fff1ffcc
}

#showPiece {
    position:absolute;
    opacity:0 !important;
    font-size: 36px !important;
    line-height: 0;
    transform:translate(7px, -62px)
}

#nestBox:hover #showPiece {
    opacity:1 !important;
    transform:translate(7px, -74px)
}

#topOfPage {
    display: flex;
    align-items:end;
    width:100%;
    height:100vh;
}

.leftHeader {
    float:left;
    text-align: left;
    width:20000px;
}

.leftHeader h2 {
    position:relative;
    display:inline-block;
    z-index: -1;
    transition:.07s
}

.leftHeader a {
    text-decoration: none;
}

.leftHeader a:hover {
    color:#00FF94;
}

#leftContainer {
    display:inline-block;
    width:360px;
    transition:.3s
}

#leftContainer:hover {
    width:500px;
}

.rightHeader {
    float:right;
    text-align:right;
    width:100%;
}

#videoPlay {
    display:inline-block;
    padding:32px;
    border-radius:45px;
    border:1px solid #FFEFFD70;
    line-height: 0px;
    background-color:#030d0850;
    height:calc(30px - 6px);
    width:calc(30px - 6px);
    backdrop-filter: blur(25px);
    overflow:hidden;
    transition:0.35s cubic-bezier(.5,0,.2,1)
}

#videoPlay i {
    transform: translate(2px,-2px);
    font-size:30px;
    float:left
}

#videoPlay:hover {
    border:1px solid #00ffae70;
    background-color:#00985920;
    width:145px;
    border-radius:30px;
    color:#d4ffe2;
}

#videoPlay p {
    display:inline-block;
    width:170px;
    opacity:0;
    font-size:20px !important;
    transform:translate(-5px,-16px);
    transition:0.2s;
}

#videoPlay:hover p {
    opacity:1;
    color:#d4ffe2;
    transform:translate(-25px,-16px);
    transition:0.45s cubic-bezier(.5,0,.2,1);
    transition-delay:.05s;
}

#topContent {
    margin:70px;
}

#topOfPage h2 {
    display:inline-block;
    margin:0px 0 -20px 0;
    padding:8px 0 16px 0;
    line-height:calc(108px - 30px);
    font-size:120px;
    background: linear-gradient(#f6fffb 20%,#bfffe0);
    background-clip: text; 
    color:#00000000;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

#topOfPage p {
    font-size:20px;
    color:#f6fefb;
}

#topOfPage video {
    display:inline-block;
    width:100vw;
    height:100%;
}

#topVideo {
    display:flex;
    object-fit:cover;
    min-height: 100%;
    width: 100%;
    min-height: 100%;
    z-index:-20;
}

#videoFixed {
    position:fixed;
    display:flex;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-2000;
    text-align:center;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
}

#showreelPlayer {
    display:none;
    position:fixed;
    z-index:9999;
    width:50%;
    left:25%;
    top:25%;
    border-radius:10px;
    overflow:hidden;
    animation:.5s reelIn cubic-bezier(.5,0,0,1);
}

#contentBackdrop {
    background-color: #000000;
    background-image:radial-gradient(at top right,#013f2a,#030508 70%);
    
}

@keyframes reelIn {
    from{opacity:0;}
    to{}
}

#reelOverlay {
    top:0;
    display:none;
    position: fixed;
    background-color: #000000aa;
    width:100vw;
    height:100vh;
    z-index:5000;
    animation:.5s reelIn cubic-bezier(.5,0,0,1);
}

#a1 {
    animation:.6s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
#a2 {
    animation:.67s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
#a3 {
    animation:.74s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
#a4 {
    animation:.81s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
#a5 {
    animation:.88s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
#a6 {
    animation:.96s moveUp cubic-bezier(.5,0,.14,1.6);
}

#a7 {
    animation:.7s moveUp cubic-bezier(.5,0,.14,1.6);
}
 
@keyframes moveUp {
    0%{opacity:0; transform:translate(0,60px)}
    20%{opacity:0; transform:translate(0,60px)}
    100%{}
}