.waver {
    width:100vw;
    height:300px;
    user-select:none;
    z-index:-122;
}

.flip {
    margin:-70px 0 0 0;
    transform:scale(-1,1);
}

#gradientAnim {
    position:fixed;
    top:0;
    left:0;
    object-fit: fill;
    filter:blur(20px);
    z-index:-200;
}

#lottieContainerChild {
    width:100vw;
}

#socialArray {
    margin:50px 0 0 0;
}

#social {
    display:inline-block;
    text-decoration: none;
    font-size:22px; 
    color:#d5c1df;
    transition:0.25s;
    padding:8px;
    margin:0 2px 0 2px;
    aspect-ratio: 1 / 1;
    width:32px;
    border-radius:5px;
    background-color: #3b1e53;
    text-align: center;
}

#social i {
    transform: translate(0,3px);
}

#social:hover {
    color:#0f0527;
    background-color: #29e98d;
    transform:scale(1.03,1.03);
}

#topGrad {
    position:fixed;
    top:0;
    z-index:-90;
    width:100vw;
    height:120vh;
    background-image:radial-gradient(at top right,#072b32 0%,#08011600 50%);
}

#nestBox:hover div span {
    opacity:0;
    transform:translate(0,-7px);
}

#nestBox:hover div h3 {
    opacity:0 !important;
    transform:translate(0,-10px)
}

#nestBox {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    min-width:200px;
	width:1600px;
    max-width:100%;
    transform:translate(-1%,-4px);
    aspect-ratio: 10.3 / 2.3 !important;
    text-align:center;
}

#nestBox * {
    transition:0.35s cubic-bezier(.4,0,.1,1.4);
}

#nestBox h3 {
    font-family:'Cabinet Grotesk', 'CabinetGrotesk-Variable', 'Arial';
    font-size:32px;
    margin:0;
    opacity:1;
    padding: 3% 0 5px;
}

#nestBox span {
    display:inline-block;
    font-size:18px;
    color:#fff1ffcc
}

#showPiece {
    position:absolute;
    opacity:0 !important;
    font-size: 36px !important;
    line-height: 0;
    transform:translate(7px, -62px)
}

#nestBox:hover #showPiece {
    opacity:1 !important;
    transform:translate(7px, -74px)
}